  
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>My Travel App</title>

</head>
 <body>
<div id = "app">
  <div class ="holder headline" id="the-title" >
    <h1>My Travel App</h1>
  </div>
  <div class ="holder city" id="info-entry">
    <label for="city">Enter destination city here</label>
    <input type="text" class= "input" id="city" placeholder="enter city here">
  <!-- </div>
  <div class ="holder departure"> -->
    <label for="departure">When is your departure?</label>
    <input type="date" class= "input" id="departure"  required pattern="\d{4}-\d{2}-\d{2}" placeholder="Enter your departure here" rows="9" cols="50">
  <!-- </div>
  <div class ="holder departure"> -->
    <label for="return_date">When is your return date?</label>
    <input type="date" class= "input" id="return_date"  required pattern="\d{4}-\d{2}-\d{2}" placeholder="Enter your return date here" rows="9" cols="50">
    <button id="generate" type = "submit" value="submit" onclick="return Client.getInformation(event)" onsubmit="return Client.getInformation(event)"> Save trip </button>
  </div>
  <div class ="holder entry">
    <div class = "title">Upcoming Trip(s)</div>
   <div id = "entryHolder">
  
  </div>
  </div>
  </div>

</body>
</html>