body{
    background: #fffff8;
    font-family: 'Montserrat', sans-serif;
}

#app{
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    /* grid-template-columns:  */
    height:100vh;
    background: #fffff8;
    color: #07b45e;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}


.entry{
    background: #fffff8;
}



.headline {
    background-color: #fffff8;
    text-align: center;
    color: #07b45e;
}
.title{
text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#85ebac;
    color: hsl(241, 69%, 15%);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

button{
    width: 100px;
    height: 60px;
    background: #3b4a6b;
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
    color: red;
}

h3{
    font-family: 'Times', sans-serif;
    color: #021b0f;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #2d07b4; 
    font-family: 'Montserrat', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #2d07b4; 
    font-family: 'Montserrat', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #2d07b4; 
    font-family: 'Montserrat', sans-serif;

} 